# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

cowau/*~
cowau/*.sw[mnpcod]
cowau/*.log
cowau/*.tmp
cowau/*.tmp.*
cowau/log.txt
cowau/*.sublime-project
cowau/*.sublime-workspace
cowau/.vscode/
cowau/npm-debug.log*

cowau/.idea/
cowau/.sourcemaps/
cowau/.sass-cache/
cowau/.tmp/
cowau/.versions/
cowau/coverage/
cowau/dist/
cowau/node_modules/
cowau/tmp/
cowau/temp/
cowau/hooks/
cowau/platforms/
cowau/plugins/
cowau/plugins/android.json
cowau/plugins/ios.json
cowau/www/
cowau/$RECYCLE.BIN/

cowau/.DS_Store
cowau/Thumbs.db
cowau/UserInterfaceState.xcuserstate

cowau/src/pages/idle/

server/node_modules/