// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

body, html {
    font-size: 10px;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$primary: #fe8965;
$secondary: #ff65a5;
$text: #FE7982;
$light: #ffffff;
$dark: #24242F;
$bggradient: linear-gradient(to bottom right, $primary 0%, $secondary 100%);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    height: 1.5vh;
    background: $bggradient;
}

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Typografy
// --------------------------------------------------
// All informaitons for the used typography are stored here

.headline {
    position: absolute;
    //top: 10vh;
    top: 6rem;
    left: 0;
    width: 100%;
    color: $text;
    font-size: 4.7rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.subline {
    position: absolute;
    //top: 19vh;
    top: 12rem;
    left: 0;
    width: 100%;
    color: $light;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}
