page-switch-sound {
	.headline-container {
		padding: 8vh 5vh 3vh 5vh;
	}
	.sound-list {
	    width: 70%;
	    margin: 30px auto;
	}

	.flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.sound-container {
		    background: $bggradient;
		    border-radius: 50%;
		    width: 60px;
		    height: 60px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 10px;
		    margin: 5px;
		    filter: saturate(60%);

			&.highlighted {
				filter: saturate(100%);
			}

			.click-container {
				width: 100%;
				height: 100%;
			    display: flex;
			    justify-content: center;
			    align-items: center;

				img {
					width: 90%;
					height: 90%;
				}
			}
		}
	}
}
