<div class="headline-container">
	<div class="headline">
		What do you like?
	</div>
	<div class="subline">
		Select your sound. 
	</div>
</div>

<div class="sound-list" >
	<div class="flex-container" *ngIf="sound_list">
		<div class="sound-container {{sound.focus ? 'highlighted' : '' }}" *ngFor="let sound of sound_list; let i = index" id="sound-{{i}}">
			<div class="click-container" (click)="selectSound(sound)">
				<img src="{{sound.icon}}" alt="sound-icon-{{i}}" />
			</div>
		</div>
	</div>
</div>

<div class="bottom-bar"></div>

<div class="background-pattern-dark"></div>
