<!-- <div class="headline">
	Edit Screen
</div>

<div class="subline">
	Make your Sound
</div> -->
<div class="edit-wrapper">
	<div class="beatgrid-wrapper" id="beatgrid-wrapper">
		<div (pan)="panTone($event)" class="beatgrid" id="beatgrid">
			<div class="cursor" id="cursor">
				
			</div>
			<div *ngFor="let cell of tmpBeatGrid; let i = index" class="beatrow">
				<div (click)="clickedTone($event)" (pan)="panTone($event)" *ngFor="let cell of tmpBeatGrid[i]; let j = index" id="{{i}}-{{j}}" class="tone">
					
				</div>
			</div>
		</div>
	</div>
	<div (pan)="panPreview($event)" (click)="clickPreview($event)" class="slider-wrapper">
		<div class="beatpreview-slider" id="beatpreview-slider">
			
		</div>
		<div class="beatgrid-wrapper-preview" id="beatgrid-wrapper-preview">
				<div *ngFor="let cell of tmpBeatGrid; let i = index" class="beatrow-preview" id="beatrow-preview">
					<div *ngFor="let cell of tmpBeatGrid[i]; let j = index" id="{{i}}-{{j}}" class="tone-preview">
						
					</div>
				</div>
		</div>
	</div>
	<div class="clearsound-container">
		<div (click)="clearSoundButton()" class="clearsound">clear sound</div> 
    </div>
</div>

<div class="bottom-bar"></div>
<div class="background-pattern-dark"></div>

<div class="background-emoji">
	<img src="assets/imgs/{{globalVars.emojiID}}.svg" alt="background-emoji" />
</div>