
.throw-it-popover {
	background: $dark;

	.popover-md {
		position: absolute;
		z-index: 100;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.popover-wrapper {
		z-index: 100;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}

	.popover-arrow {
		z-index: 100;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}

	.popover-content {
		background: $dark !important;
		margin: 0px;
		z-index: 100;
		position: relative;
		width: 85% !important;
		height: 80% !important;
		max-height: 80% !important;
		top: 0px !important;
		left: 0px !important;
		border-radius: 20px !important;
		border: 1px solid $text;
	}

	.popover-viewport {
		z-index: 100;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}

	.headline-container {
	    position: absolute;
	    z-index: 20;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
	}

	.video-wrapper {
		position: relative;
		z-index: 0;
		.block-video{
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			bottom:0;
			right:0;
			z-index:5;
		}
	}


}

.video-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}