.popover-md {
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popover-wrapper {
	z-index: 100;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.popover-arrow {
	z-index: 100;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.popover-content {
	background: $dark !important;
	margin: auto;
	z-index: 100;
	position: absolute;
	width: 85% !important;
	height: 80% !important;
	max-height: 80% !important;
	// left: 5px !important;
	// right: 5px !important; 
	// top: 5px !important;
	// bottom: 5px !important;
	border-radius: 20px !important;
	border: 1px solid $text;
}

.popover-viewport {
	z-index: 100;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.headline {
    position: absolute;
    //top: 10vh;
    top: 18rem;
    left: 0;
    width: 100%;
    color: $text;
    font-size: 4.7rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.subline {
    position: absolute;
    //top: 19vh;
    top: 13rem;
    left: 0;
    width: 100%;
    color: $light;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.explain-text {
	position: absolute;
	padding: 8rem;
    //top: 19vh;
    bottom: 2rem;
    left: 0;
	width: 100%;
    color: $text;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
	z-index: 10;	
}